/* 样式重置 */
body,h1,h2,h3,h4,h5,p,dl,dd,ul,ol,form,input,textarea,th,td,select {margin: 0; padding: 0;}
em {font-style: normal;}
li {list-style: none;}
a {text-decoration: none;}
img {border: none; vertical-align: top;}
table {border-collapse: collapse;}
input,textarea {outline: none;}
textarea {resize: none; overflow: auto;}
body {font-size: 12px; font-family: "微软雅黑";}

/* 公共样式 */
.clear {
  zoom: 1;
}
.clear::after {
  content: "";
  display: block;
  clear: both;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.gradient {
  background: -moz-linear-gradient(top,#ffffff,#f8f8f8);
  background: -webkit-linear-gradient(top,#ffffff,#f8f8f8);
  background: -ms-linear-gradient(top,#ffffff,#f8f8f8);
  background: linear-gradient(top,#ffffff,#f8f8f8);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startcolorstr=#ffffff,endcolorstr=#f8f8f8,gradientType=1)";
  +background: #f9f9f9;
}

/* layout样式表 */
#header,
#nav,
.content {
  width: 960px;
  margin: 0 auto;
}

#search,
.section,
.side_section,
#footer {
  border: 1px solid #dbdbdb;
  border-radius: 6px;
}

.main_ad,
.side_section,
.side_ad {
  margin-bottom: 10px;
}

body {
  margin-bottom: 30px;
}

#header {
  height: 30px;
  border-radius: 0 0 6px 6px;
}

#header .city {
  float: left;
  padding: 5px 0 0 20px;
}
#header .city a {
  display: inline-block;
  padding: 0 7px;
  height: 18px;
  line-height: 18px;
  color: #999;
  background: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  box-shadow:1px 1px 0 #ededed;
}

#header .city .active,
#header .city .active:hover {
  color: #d60d03;
  background: #fff;
}

#header .city a:hover {
  background: #f1f1f1;
}

#header .link {
  float: right;
  padding-right: 20px;
  line-height: 30px;
  color: #d5d5d5;
  word-spacing: 4px;
}

#header .link a {
  color: #666;
}

#header .link a:hover {
  color: #d60d03;
  text-decoration: underline;
}

#header .link img {
  padding: 5px 6px 0 0;
}

#nav {
  height: 100px;
  position: relative;
}

#nav ul {
  position: absolute;
  top: 10px;
}

#nav li {
  float: left;
}

#nav li a {
  display: block;
  width: 66px;
  padding-top: 5px;
  text-align: center;
  color: #333;
}

#nav .bg1:hover {
  background-position: 0 -70px;
}

#nav .nav_1 {
  left: 11px;
}

#nav .nav_2 {
  right: 11px;
}

#nav h1 {
  width: 223px;
  height: 62px;
  margin: 0 auto;
  position: relative;
  top: 10px;
}

#search {
  width: 958px;
  height: 114px;
  margin: 0 auto 10px;
}

#search .bar {}

.main {
  width: 710px;

}

.main_wrap {
  padding-bottom: 10px;
} /*IE6吞margin-bottom像素问题改进 */

.main_ad {
  border-radius: 6px;
  overflow: hidden;
}

.section {
  width: 318px;
  height: 200px;  /* height删除 */
  padding: 0 15px;
}

.options {
  width: 350px;
  position: relative;
  height: 200px;/* height删除 */
}

.options .nav {
  height: 34px;
  position: relative;
  z-index: 2;
}
.options .nav li {
  width: 172px;
  height: 33px;
  border: 1px solid #dbdbdb;
  border-bottom: none;
  border-radius: 6px 6px 0 0;
}
.options .nav .active {
  width: 172px;
  height: 34px;
  background: #fff;
}
.options .con {
  width: 348px;
  height: 80px;/* height删除 */
  border: 1px solid #dbdbdb;
  border-radius: 0 0 6px 6px;
  position: absolute; /*解决IE6兼容性问题*/
  top: 34px;
  left: 0;
  z-index: 1;
}

.side {
  width: 240px;
}

.side_section {
  height: 60px;
  padding: 0 12px;
}

.side_ad {
  border-radius: 6px;
  overflow: hidden;
}

#footer {
  width: 958px;
  height: 78px;
  background: #f9f9f9;
  margin: 0 auto;
}
