/**
 * @Author: Sam958
 * @Date:   2018-02-10T18:08:17+08:00
 * @Last modified by:   Sam958
 * @Last modified time: 2018-02-11T11:10:03+08:00
 */
.form-line {
  margin-bottom: 10px;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
}
.form-line .label {
  display: inline-block;
  width: 80px;
  text-align: center;
}
.form-line .input {
  height: 25px;
  line-height: 25px;
  width: 200px;
  font-size: 14px;
}
